@import "./utils/normalize.css";
@import "./utils/reset.css";
@import "./components/index";

*,
*:after,
*:before {
  box-sizing: border-box;
}


main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 24px;
}